<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>KitchenStory</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Products</display-name>
    <servlet-name>Products</servlet-name>
    <servlet-class>com.Products</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Products</servlet-name>
    <url-pattern>/Products</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Product</display-name>
    <servlet-name>Product</servlet-name>
    <servlet-class>com.Product</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Product</servlet-name>
    <url-pattern>/Product</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartPageServlet</display-name>
    <servlet-name>CartPageServlet</servlet-name>
    <servlet-class>com.CartPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartPageServlet</servlet-name>
    <url-pattern>/CartPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Payment</display-name>
    <servlet-name>Payment</servlet-name>
    <servlet-class>com.Payment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Payment</servlet-name>
    <url-pattern>/Payment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeedbackAndQueries</display-name>
    <servlet-name>FeedbackAndQueries</servlet-name>
    <servlet-class>com.FeedbackAndQueries</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedbackAndQueries</servlet-name>
    <url-pattern>/FeedbackAndQueries</url-pattern>
  </servlet-mapping>
</web-app>